.post-list {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #c24d2c;
    width: 33vw;
    height: 75vh;
    margin: 10px;
    padding: 10px;
}

.post img {
    height: 300px;
    width: 300px;
}